
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background:var(--cor-apoio);
}

main {
    margin: auto;
    padding: 20px;
    max-width: 800px;
    max-height: 500px;
    height: 90%;
    width: 90%;
    background-color: var(--cor-principal);
    border-radius: 15px;
    color: var(--cor-apoio);

}

form {
    background: var(--cor-);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;

}

form>button {
    padding: 8px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}

form>button:hover {
    text-decoration: underline 2px;
}

form>button:active {
    background: var(--cor-principal);
    color: var(--cor-apoio);

}

ul{
    border-radius: 25px;
}

li {
    background-color: white;
    list-style: none;
    color: var(--cor-principal);
}

input {
    padding: 8px;
    border-radius: 8px;
    outline: none;
    text-align: center;
    color: #825648;
}

a{
    text-decoration: none;
}

:root {
    --cor-principal : #825648;
    --cor-secundaria : #487E82;
    --cor-apoio : #FFCEBF;
    --cor-bg : #48825F;

}

p#mensagem_feedback{

    margin-top: 40px;
    padding: 10px;
    border-radius: 40px;
    font-size: 25px;
    font-style: bold;
}